/* 회색 버튼 생성 */
.btn {
	text-transform: uppercase;
	border: none;
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-secondary:focus {
	color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover, .btn-secondary:active:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:active {
	background-image: none; /* 버튼을 클릭하고 나서 적용된 아래 bg-image를 기본값으로 다시 변경  */
}

.btn-secondary:active {
	background-color: #616161;
	background-image: -webkit-radial-gradient(circle, #616161 10%, #6c757d 11%);
	background-image: -o-radial-gradient(circle, #616161 10%, #6c757d 11%);
	background-image: radial-gradient(circle, #616161 10%, #6c757d 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
/* 회색 버튼 생성 end */

/* 버튼 custom */
.btn-default {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-default:focus {
	background-color: #ffffff;
}

.btn-default:hover, .btn-default:active:hover {
	background-color: #f0f0f0;
}

.btn-default:active {
	background-color: #e0e0e0;
	background-image: -webkit-radial-gradient(circle, #e0e0e0 10%, #ffffff 11%);
	background-image: -o-radial-gradient(circle, #e0e0e0 10%, #ffffff 11%);
	background-image: radial-gradient(circle, #e0e0e0 10%, #ffffff 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-primary {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-primary:focus {
	background-color: #2196f3;
}

.btn-primary:hover, .btn-primary:active:hover {
	background-color: #0d87e9;
}

.btn-primary:active {
	background-color: #0b76cc;
	background-image: -webkit-radial-gradient(circle, #0b76cc 10%, #2196f3 11%);
	background-image: -o-radial-gradient(circle, #0b76cc 10%, #2196f3 11%);
	background-image: radial-gradient(circle, #0b76cc 10%, #2196f3 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-success {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-success:focus {
	background-color: #4caf50;
}

.btn-success:hover, .btn-success:active:hover {
	background-color: #439a46;
}

.btn-success:active {
	background-color: #39843c;
	background-image: -webkit-radial-gradient(circle, #39843c 10%, #4caf50 11%);
	background-image: -o-radial-gradient(circle, #39843c 10%, #4caf50 11%);
	background-image: radial-gradient(circle, #39843c 10%, #4caf50 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-info {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-info:focus {
	background-color: #9c27b0;
}

.btn-info:hover, .btn-info:active:hover {
	background-color: #862197;
}

.btn-info:active {
	background-color: #701c7e;
	background-image: -webkit-radial-gradient(circle, #701c7e 10%, #9c27b0 11%);
	background-image: -o-radial-gradient(circle, #701c7e 10%, #9c27b0 11%);
	background-image: radial-gradient(circle, #701c7e 10%, #9c27b0 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-warning {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-warning:focus {
	background-color: #ff9800;
}

.btn-warning:hover, .btn-warning:active:hover {
	background-color: #e08600;
}

.btn-warning:active {
	background-color: #c27400;
	background-image: -webkit-radial-gradient(circle, #c27400 10%, #ff9800 11%);
	background-image: -o-radial-gradient(circle, #c27400 10%, #ff9800 11%);
	background-image: radial-gradient(circle, #c27400 10%, #ff9800 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-danger {
	-webkit-background-size: 200% 200%;
	background-size: 200%;
	background-position: 50%;
}

.btn-danger:focus {
	background-color: #e51c23;
}

.btn-danger:hover, .btn-danger:active:hover {
	background-color: #cb171e;
}

.btn-danger:active {
	background-color: #b0141a;
	background-image: -webkit-radial-gradient(circle, #b0141a 10%, #e51c23 11%);
	background-image: -o-radial-gradient(circle, #b0141a 10%, #e51c23 11%);
	background-image: radial-gradient(circle, #b0141a 10%, #e51c23 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000%;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-default.disabled {
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.4);
	opacity: 1;
}
/* 버튼 custom end */

.b {
	font-weight: bold;
	color: black;
}

/* navbar custom */
.navbar {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
	font-size: 24px;
}

body { /* navbar-fixed-top height */
  padding-top: 65px;
}
/* navbar custom end */

/* login.jsp */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin-heading {
	font-size: 35px !important;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px !important;
	font-size: 16px !important;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin > div {
	margin-bottom: 10px;
}

/* login.jsp end */


/* join.jsp */
.red {
	color: red;
	font-size: 12px;
}

.green {
	color: #2eaa08;
	font-size: 12px;
}

.form-signup {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signup .form-signup-heading, .form-signup .checkbox {
	margin-bottom: 10px;
}

.form-signup-heading {
	font-size: 35px !important;
}

.form-signup .checkbox {
	font-weight: normal;
}

.form-signup .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px !important;
	font-size: 16px !important;
}

.form-signup .form-control:focus {
	z-index: 2;
}

.form-signup input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signup > button {
	margin-top: 10px;
}

/* join.jsp end */

/* list.jsp */
.b2 {
	color: #004080;
}

.panel-heading {
	border-bottom: none;
}

.panel-table {
	display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.panel-table .col {
	line-height: 34px;
	height: 34px;
}

.panel-table .panel-heading .col h3 {
	 line-height: 30px;
	 height: 30px;
}

.table-bordered > tbody > tr > td {
 	line-height: 34px;
}

.table-bordered {
 	margin:0;
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.pagination {
 	margin:0;
}

.fa-1x {
	font-size: 1.2em;
}

label {
	font-weight: normal;
}

.searchBtn {
	padding: 6px 11px !important;
}

.searchTxt {
	background-color: #f3f3f37a;
}

.searchDiv {
	display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

select, select.form-control {
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 0;
	padding-right: 0\9;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
	-webkit-background-size: 13px 13px;
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
	box-shadow: inset 0 -1px 0 #dddddd;
	font-size: 16px;
	line-height: 1.5;
}

select.input-lg, select.form-control.input-lg {
	height: 36px !important;
	font-size: 14px;
	padding-top: 8px !important;
	padding-left: 5px !important;
	padding-right: 20px !important;
}

select:focus, select.form-control:focus {
	-webkit-box-shadow: inset 0 -2px 0 #2196f3;
	box-shadow: inset 0 -2px 0 #2196f3;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
}
/* list.jsp */

/* write.jsp */
textarea, textarea.form-control, input.form-control, input[type=text],
	input[type=password], input[type=email], input[type=number], [type=text].form-control,
	[type=password].form-control, [type=email].form-control, [type=tel].form-control,
	[contenteditable].form-control {
	padding: 0;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
	box-shadow: inset 0 -1px 0 #dddddd;
	font-size: 16px;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus,
	input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,
	input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus,
	[type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus
	{
	-webkit-box-shadow: inset 0 -2px 0 #2196f3;
	box-shadow: inset 0 -2px 0 #2196f3;
}

textarea[disabled], textarea.form-control[disabled], input.form-control[disabled],
	input[type=text][disabled], input[type=password][disabled], input[type=email][disabled],
	input[type=number][disabled], [type=text].form-control[disabled], [type=password].form-control[disabled],
	[type=email].form-control[disabled], [type=tel].form-control[disabled],
	[contenteditable].form-control[disabled], textarea[readonly], textarea.form-control[readonly],
	input.form-control[readonly], input[type=text][readonly], input[type=password][readonly],
	input[type=email][readonly], input[type=number][readonly], [type=text].form-control[readonly],
	[type=password].form-control[readonly], [type=email].form-control[readonly],
	[type=tel].form-control[readonly], [contenteditable].form-control[readonly]
	{
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px dotted #ddd;
}

textarea.input-sm, textarea.form-control.input-sm, input.form-control.input-sm,
	input[type=text].input-sm, input[type=password].input-sm, input[type=email].input-sm,
	input[type=number].input-sm, [type=text].form-control.input-sm, [type=password].form-control.input-sm,
	[type=email].form-control.input-sm, [type=tel].form-control.input-sm, [contenteditable].form-control.input-sm
	{
	font-size: 12px;
}

textarea.input-lg, textarea.form-control.input-lg, input.form-control.input-lg,
	input[type=text].input-lg, input[type=password].input-lg, input[type=email].input-lg,
	input[type=number].input-lg, [type=text].form-control.input-lg, [type=password].form-control.input-lg,
	[type=email].form-control.input-lg, [type=tel].form-control.input-lg, [contenteditable].form-control.input-lg
	{
	font-size: 14px;
}

select[multiple], select.form-control[multiple] {
	background: none;
}
/* write.jsp end */









/* --------------------------------------------------------------  */
.fileview {
	color: #0000C9;
	text-decoration: underline;
}

.fileview:hover, a:focus {
	color: #2196f3;
	text-decoration: underline;
}

.fileview:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.col-md-offset-3-2 {
	margin-left: 32%;
}

.form-control-50 {
	display: block;
	width: 50%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-40 {
	display: block;
	width: 30%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-30 {
	display: inline;
	width: 30%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-20 {
	display: inline;
	width: 20%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-50:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.form-control-40:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.form-control-30:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.form-control-20:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.form-control-70 {
	display: inline;
	width: 70%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-70:focus {
	border-color: #222222;
	outline: 0;
}

/* ----------------------------------------------------------------------- */
/* CommunityReply.jsp */

.re_top {
	padding-top: 25px;
}

.re_bottom {
	padding-bottom: 30px;
}


.a_link {
	color: #353535;
	font-size: 13px;
}

.a_link:hover {
	color: #353535;
	font-size: 13px;
}

.red_link {
	color: red;
	font-size: 13px;
}

.red_link:hover {
	color: red;
	font-size: 13px;
}

/* Testimonials */
.testimonials blockquote {
	background: #D1CDF4 none repeat scroll 0 0;
	border: medium none;
	color: #666;
	display: block;
	font-size: 14px;
	padding: 15px;
	position: relative;
}

.testimonials blockquote::before {
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 20px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.testimonials blockquote::after {
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #e63f0c transparent transparent transparent;
}

.testimonials .carousel-info {
	overflow: hidden;
}

.testimonials .carousel-info span {
	display: inline;
}

.testimonials span.testimonials-name {
	color: #e6400c;
	font-size: 16px;
	font-weight: 900;
}

.testimonials span.testimonials-post {
	color: #656565;
	font-weight: 300;
	font-size: 12px;
}

.testimonials span.testimonials-menu {
	color: #353535;
	font-size: 16px;
}

.replym_w {
	margin-left: 32px;
	width: 65%;
}

.re_header {
	margin-left: 32px;
	width: 65%;
	border-bottom: 1px solid #D1CDF4;
}

.subjecttxt {
	color: red;
	font-weight: bold;
}